version: "3.9"

services:
  db:
    image: postgres:15
    container_name: iss_postgres
    restart: unless-stopped
    environment:
      POSTGRES_USER: iss_admin
      POSTGRES_PASSWORD: iss_password
      POSTGRES_DB: iss_db
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

  pgadmin:
    image: dpage/pgadmin4
    container_name: iss_pgadmin
    restart: unless-stopped
    environment:
      PGADMIN_DEFAULT_EMAIL: groseanu@gmail.com
      PGADMIN_DEFAULT_PASSWORD: admin123
    ports:
      - "5050:80"
    depends_on:
      - db

  backend:
    build: ./backend
    container_name: iss_backend
    restart: unless-stopped
    env_file:
      - .env
    ports:
      - "8000:8000"
    depends_on:
      - db
    volumes:
      - ./backend:/app

volumes:
  db_data:

